/*
----FONTS----

Source Sans Pro Regular
font-family: source-sans-pro,sans-serif;
font-weight: 400;
font-style: normal;

Lust Regular
font-family: lust,serif;
font-weight: 700;
font-style: normal;
*/


html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    object-fit: cover;
}

main {
    max-width: 800px;
    margin: auto;
}

body {
    font-family: "source-sans-pro", verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #020202;
}

a {
    color:#817f7f;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight:600px;
}


.return {
    position: fixed;
    padding: 20px;
}

.quote {
    font-style: italic;
}

.font-image {
    max-width: 350px;
}

.projects-container,
.project-item {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.project-item {
    flex-direction: column;
    height: 400px;
    width: 200px;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
}

.rainy {
    background-color: #f5f5f5;
}

.comscimus {
    background-color: #f4f5f6;
}

.kingdom {
    background-color: #0b3b2b;
}